* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 2065px;
  margin: 0 auto;
  font-family: "lato loght", sans-serif;
  color: #666d89;
}
header {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 95px;
  background-color: #2d303a;
  border-bottom: 6px solid #2d303a;
  font-family: "lato Bold", sans-serif;
}
.headerLogo {
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.logo {
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #f06c64;
}

.navigation {
  width: 375px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  letter-spacing: -0.035em;
  color: #ffffff;
}
.navigationList {
  width: 375px;
  display: flex;
  justify-content: space-between;
}
.navigation::after {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  right: -16px;
  position: absolute;
}
.navigation:last-child::after {
  content: "";
  width: 0;
  height: 0;
}

.slider {
  width: 100%;
}
.sliderRed {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  height: 600px;
}
.redContent {
  margin: 0 auto;
  max-width: 1020px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services {
  background-color: #f2f2f2;
}
.servicesFirst {
  display: flex;
  justify-content: space-between;
}
.servicesSecond {
  display: flex;
  justify-content: space-between;
}
.servicesItem {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.servicesTextItem {
  width: 220px;
  height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1 {
  padding-top: ;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}
h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
}
.description {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}
.servicesContent {
  padding: 50px 40px 50px 40px;
}
.portfolio {
  width: 100%;
  height: 864px;
  box-sizing: border-box;
  background-color: #2d303a;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 59px;
  padding-bottom: 74px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
button {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #767e9e;
  background: none;
  border: 1.5px solid #666d89;
  border-radius: 4px;
  cursor: pointer;
  padding: 3px 3px;
}

.image {
  height: 601px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.imageFirst {
  display: flex;
  justify-content: space-between;
}

.imagesecond {
  display: flex;
  justify-content: space-between;
}
.imageThird {
  display: flex;
  justify-content: space-between;
}
footer {
  font-weight: 900;
  font-family: "lato";
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  height: 76px;
  background-color: #2d303a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4%;
  padding-right: 4%;
}
.link {
  width: 15%;
  display: flex;
  justify-content: space-between;
}
